<div class="row">
    <div class="col-3">
        <p>名前</p>
    </div>
    <div class="col-9">
        <p>{{ item.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>図鑑番号</p>
    </div>
    <div class="col-9">
        <p>{{ item.no }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>タイプ1</p>
    </div>
    <div class="col-9">
        <p>{{ item.type1 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>タイプ2</p>
    </div>
    <div class="col-9">
        <p>{{ item.type2 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>とくせい１</p>
    </div>
    <div class="col-9">
        <p>{{ item.ability1 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>とくせい２</p>
    </div>
    <div class="col-9">
        <p>{{ item.ability2 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>夢とくせい</p>
    </div>
    <div class="col-9">
        <p>{{ item.hidden_ability }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>HP</p>
    </div>
    <div class="col-9">
        <p>{{ item.h }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>A</p>
    </div>
    <div class="col-9">
        <p>{{ item.a }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>B</p>
    </div>
    <div class="col-9">
        <p>{{ item.b }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>C</p>
    </div>
    <div class="col-9">
        <p>{{ item.c }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>D</p>
    </div>
    <div class="col-9">
        <p>{{ item.d }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>S</p>
    </div>
    <div class="col-9">
        <p>{{ item.s }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>備考</p>
    </div>
    <div class="col-9">
        <p>{{ item.memo|linebreaksbr }}</p>
    </div>
</div>